<div class="contain">
<%-include('./partials/header') %>
	<div class="outer">
		<div class="details">
			<h1 style='color: white;' >Landing Page</h1> 
			<a class="btn btn-primary btn-lg" href="/campgrounds">View all Campgrounds</a>
		</div>
	</div>
</div>	
